<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar item-start>
          <img src="{{gnome.thumbnail}}">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <h2>{{gnome.name}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

<div padding class="">
  <ion-item text-wrap>
    <ion-label position="floating">Age:</ion-label>
    <ion-input value="{{gnome.age}}" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Weight:</ion-label>
    <ion-input value="{{gnome.weight}}" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Height:</ion-label>
    <ion-input value="{{gnome.height}}" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hair Color:</ion-label>
    <ion-input value="{{gnome.hair_color}}" readonly></ion-input>
  </ion-item>

  <div *ngIf="gnome.professions.length != 0" class="">
    <ion-label position="floating">Professions:</ion-label>
    <div style="text-align:center" class="">
      <ion-badge *ngFor="let profession of gnome.professions">{{ profession }}</ion-badge>
    </div>
  </div>

  <div *ngIf="gnome.friends.length != 0" class="">
    <ion-label position="floating">Friends:</ion-label>
    <div style="text-align:center" class="">
      <ion-badge  *ngFor="let friend of gnome.friends">{{ friend }}</ion-badge>
    </div>
  </div>
</div>

</ion-content>
