page-gnome-profile {
  ion-avatar,
  ion-avatar > img{
      border-radius:50%;
      height:30vw;
      width:30vw;
      border: 1px solid darkblue;
  }
}

.badge-ios {
  border-radius: 10px;
  margin-left:2px;
  background-color: #191919 !important;
  border: 2px solid darkblue;
  text-color:white;color: white;
}

.badge-md {
  border-radius: 10px;
  margin-left:2px;
  background-color: #191919 !important;
  border: 2px solid darkblue;
  text-color:white;color: white;
}
