.contentProgressCircle {
  width:100%;
  text-align:center;
}

.divProgressCircle {
  width:50%;
  float:left;
}

.divStats {
  width:100%;text-align:
  center;padding-top:55vw
}

.divStat {
  width:33%;
  float:left;
}

.circle {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  text-align: center;
  border: 3px solid darkblue;
  line-height: 0;
  font-size: 9vw;
}
