<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="trophy"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (click)='search()' placeholder="Search Gnomes" animated></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Fantasy Role Playing</h1>
  <div padding class="contentProgressCircle">

    <div class="divProgressCircle">
      <circle-progress
      [percent]="this.employeesPercent"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#3333ff'"
      [innerStrokeColor]="'#000080'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
      <p text-center>Employed</p>
    </div>

    <div class="divProgressCircle">
      <circle-progress
      [percent]="this.friendlyPercent"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#3333ff'"
      [innerStrokeColor]="'#000080'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
      <p text-center>Friendly</p>
    </div>

  </div>

  <div class="divStats">
    <div class="divStat">
      <div class="circle">
        {{this.ageAverage}}
      </div>
      <p text-center>Average <br>Age</p>
    </div>
    <div class="divStat">
      <div class="circle">
        {{this.heightAverage}}
      </div>
      <p text-center>Average <br>Height</p>
    </div>
    <div class="divStat">
      <div class="circle">
        {{this.weightAverage}}
      </div>
      <p text-center>Average <br>Weight</p>
    </div>
  </div>

</ion-content>
