<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-searchbar #searchBar placeholder="Search Gnomes" animated (ionInput)="refreshSearchBar($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="goBack()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-buttons text-center>
    <button  clear ion-button (click)="showFilter()">
      Advance Seach
    </button>
  </ion-buttons>

  <div padding class="" *ngIf="this.chooseTypeClicked === true">
    <ion-item>
      <ion-range min="{{lowerAge}}" max="{{upperAge}}" style="padding-left:0px" dualKnobs="true" pin="true" [(ngModel)]="ageRange" color="success" (ionChange)="refreshFilter()">
        <ion-label range-left>Age</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="{{lowerHeight}}" max="{{upperHeight}}" style="padding-left:0px" dualKnobs="true" pin="true" [(ngModel)]="heightRange" color="success" (ionChange)="refreshFilter()">
        <ion-label range-left>Height</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="{{lowerWeight}}" max="{{upperWeight}}" style="padding-left:0px" dualKnobs="true" pin="true" [(ngModel)]="weightRange" color="success" (ionChange)="refreshFilter()">
        <ion-label range-left>Weight</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>Hair Color</ion-label>
      <ion-select [(ngModel)]="hairColorSelected" placeholder="Select One" (ionChange)="refreshFilter()">
          <ion-option *ngFor="let hairColor of hairColorFilter" [value]="hairColor">{{hairColor}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-list>
    <ion-item *ngFor="let gnome of gnomesFilter" (click)="goToProfile(gnome)">
      {{ gnome.name }}
    </ion-item>
  </ion-list>






</ion-content>
